.list-wrapper {
    padding: 100px 80px;
}

.icon {
    width: 160px;
    height: 100px;
    background-size: cover;
    /* background-image: url('../../../static/folder.png'); */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.link {
    color: black;
    padding: 110px 0;
}

.LecturesBox {
    margin-top: 20px;
}

.LecturesTable {
    
    margin: 0 auto;
    position: relative;
}


.ListTitle {
    text-align: center;
    line-height: 1.5;
    color: white;
    font: optional;
  }

.TitleBox {
    background-color: #09893F;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    position: relative;
}