@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);


tr {
    width: 400px;
}

.tbl {
    margin: 0 auto;
}

body{
    /* background: url("새벽녘.jpg") no-repeat center; */
    background-color: rgb(236, 236, 236);
}

.box{
    /* 상하좌우 정중앙 정렬하기 */
    /* position: absolute; */
    margin-left: auto; 
    margin-right: auto;
    margin-top: 80px;
    /* margin-bottom: auto; */
    border: 0px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.system{
    /* position: relative; */
    text-align: center;
    /* left: 45px;
    bottom: 70px; */
    font-size: 30px;
    font-weight: 300;
    color: #312c2c;
    font-family: 'GmarketSansBold';
}

.titleWrap{
    /* position: relative; */
    /* width: 400px; */
    margin: 20px 0px;
    /* table-layout: fixed; */
    /* left: 30px;
    bottom: 20px; */
    text-align: center;
}

.inputWrap{
    position: relative;
    /* margin-top: 20px; */
    margin: 0 auto;
    
}

.inputWrap:first-child {margin-top: 0;}
.inputWrap input{
    width: 380px; 
    /* width: 100%; */
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #111;
    font-size: 18px; color: #111;
    outline: none;
    font-family: 'NanumSquare';

}

/* .inputWrap input:focus + label,
.inputWrap input:vaild + label{
    top: -2px; 
    font-size: 13px; color:royalblue;
} */

.btn:first-child {
    margin: 30px auto 0px auto;
}

.btn:last-child {
    margin: 10px auto 0px auto;
    
}

.btn button{
    width: 100%; height: 50px;
    background-color: rgba(0, 145, 64, 0.7);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;


}

.btn button:disabled{
    background-color: rgba(200, 200, 200, 0.7);
    color: black;
    /* color: white; */
    font-weight: bold;
}

.copyright {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: rgb(180,180,180);
    text-align: center;
    margin: 0 auto;
    font-family: 'NanumSquare';
}